<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicussion</title>
</head>
<body>


    <nav class="discussion-header">
        <div class="header discussion set-margin" >
            <img class="leaf-image" src="/img/leaf-img.png" alt="">
            <div class="input-group">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search Topic">
                <i class="fa-solid fa-microphone"></i>
                <i class="fas fa-add"></i>
            </div>
            <div class="discuss">
                <i class="fa-solid fa-users"></i>
                <button>Start a New Discussion</button>
            </div>

    </nav>

    <main class="set-margin">
        <section class="all-cards">
            <div class="card">
                <img src="https://via.placeholder.com/600x200" alt="Card Image" class="card-img">
                <div class="card-body">
                  <h2 class="card-title">Card Title</h2>
                  <p class="card-text">This is a simple card element with image, title, and text. You can add more elements here.</p>
                  <button class="card-btn">Read More</button>
                </div>
              </div>  
        </section>        
    </main>
    


</body>
</html>